<!DOCTYPE html>
<html>
  <head>
    <title>Phonebook</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
	  <a class="brand" href="#">Phone Book</a>
	  <!-- <%= link_to image_tag("libra.ico", size: "20x20") + " Balance", root_path, class: 'brand' %> -->
          <div class="container nav-collapse">
            <ul class="nav">
	              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <% if notice %>
        <div class="alert alert-success fade in">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <%= notice %>
	</div>
      <% elsif alert %>
        <div class="alert fade in">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <%= alert %>
	</div>
      <% end %>

      <div class="row">
          <div class="span9">
             <%= yield %>
	  </div>
        </div>

      <footer>
        <!-- <p>&copy; Company 2012</p> -->
      </footer>
    </div>

  </body>
</html>
